$main-font: 'Montserrat', sans-serif;
$white: #fff;
$black: #000;
$header-link: #8D8C8B;
$link-hover: #1C1917;
$button-color: #FF8541;
$border-color: #555351;
$banner-gradient: linear-gradient(359.84deg, #000000 1.04%, rgba(28, 25, 23, 0) 77.98%);